body{
/*Все элементы, лежащие внутри тега body будут иметь данный стиль*/
    font-family: arial,'time new roman';   
    /*margin: 0 0 0 0;*/
}


.transition {   /* .+++ - это стили для данного класса : */
  /*элемент, помеченный данным классом имеет данные стили */
  transition: 0.5s;   /* длительность анимаций*/
}

.transition5 {
  transition: 5.0s;
}

#login_table, #register_table, #news{ /* #+++ - это для  id */
    /*background-color: #fff; Белый фон*/
    /*border: 1px solid #fff; Белая рамка*/
    /*border-bottom: 2px solid #f00;*/
    background-color: rgba(176,150,150,0.8);
    border: 2px solid rgba(176,72,115,0.4);
    border-collapse: separate;  /* отступ между границами ячеек = 0  */
    border-radius: 4px; /* Радиус скругления контура */
    margin: 5% auto 0;  /* margin - окоймляющая рамка вокруг элемента */
    padding: 20px 20px 20px 20px;
}

#login_table tr td{
    padding-left: 10px;  /* padding отступ между рамкой (border     ) и внутренним содержимом*/
}

.login_input{ /* Поля для ввода на странице входа*/
    border: 2px solid #ccc;  /*border - граница; параметры 
    {2px} - толщина границы ячейки 
    {solid} - стиль линии
    {#ccc} - цвет контура*/   
    border-radius: 4px; /* Радиус скругления контура */
    box-sizing: border-box;
    font-size: 14px; /* Размер шрифта - от него считаются все заголовки и шрифты */
    line-height: 17px; /* Высота текста */
    height: 24px; /* Высота блока */
    padding-left: 4px; 
    padding-right: 4px;
    color: #666666; /* Цвет шрифта */
    width: 95%;
}

#login_page{ /* Фоновое изображение */
    background-image: url(images/login_page_background.jpg); 
    background-size: cover; /* Масштабируем изображение так, чтобы не было чёрных полос 
    и по одной из сторон оно было ровно на ширине экрана */
    position: fixed; /* Зафиксированно на экране и не смещается при "скроле" */
    opacity: 0.5; /* Прозрачность всего объекта */
    top: 0; /* Отступ рамки (верхней границы контейнера) от верхней границы экрана */
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; /* Уровень объекта - максимальный на переднем плане, минимальный на заднем */
}


/*
!!! Баланс
##############################################################################################
##############################################################################################
##############################################################################################
##############################################################################################
*/



#balance_page{
    background-image: url(images/login_page_background.jpg);
    background-size: cover;
    position: fixed;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#key_code{ /* Область для ввода кода подтверждения */
    /*visibility: hidden;*/
    /*visibility: visible;*/
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { /* Отключение стрелочек в input */
    -webkit-appearance: none;
}

input[type='number'] { /* для всех с тегом input содержащим свойство type имеет значение "number" */
    -moz-appearance: textfield; /* Приведение к типу отображения для текста */
}

.ok_button{ /* Кнопка "Ок" на странице входа */
    border: 2px solid #ccc;
    border-radius: 26px;
    box-sizing: border-box;
    color: #666; /* Цвет текста */
    cursor: pointer; /* Превратить курсор (при наведении) в руку */
    display: inline-block;  /* Запрещает перенос блоков (любых элементо) на новую строку */
    position: relative; /* Глобальная система координат привязывается к этому блоку */
    overflow: hidden; /* Всё, что не влезло в блок, исчезает*/
    padding: 14px 20px; /* Отступы - Верхний Левый <Правый Нижний>;
     то, что не указано равно отступу и вычисляется автоматически*/
}


#main_page_menu_container{ /* Контейнер, хранящий главное меню */
    /*position: absolute;
    top: 0;
    left: 0;*/
    position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  visibility: hidden;
}

#main_page_menu{
    font-size: 1.1em; /* Размер шрифта - задан в относительных величинах - 
    в 1.1 раз больше, чем в охватывающем (родительском) контейнере*/
    position: sticky; /* Закрепление элемента относительно верхнего края окна при прокрутке
    причём элемент не може выйти за границу родительского контейнера */
    padding: 5% auto 5%; /* auto - означает центрирование по выбранной оси*/
    left: 5%;
    width: 100%;
    top: 0px;
    margin: 0 0 30px 0;
    visibility: visible;
    z-index: 1;
    background-color: #d0001a; /* Цвет фона */
    border-collapse: collapse; /* Границы ячеек не имеют расстояния между друг-другом (слеплены в одну)*/
    border-radius: 3px;
    color: #fff; /* Цвет текста */
    opacity: 1.0;
}

#main_page_menu:hover{ /* hover - псевдокласс (при срабатывании события), 
    к элементу применяетмя данный стиль, 
    после завершения стиль отменяется и происходит возврат к старым стилям*/
    opacity: 1.0;
}

#main_page_menu .w80{ /* Применяется только к контейнерам с классом "w80", 
                    которые вложены (не обязательно на первом уровне) в контейнер с id "main_page_menu" */
    width: 80%;
    height: 100%;
    padding: 0 0 0 0;
}

#main_page_menu #navigation_table{ /* Таблица перехода между страницами */
    width: 100%;
}

/*#main_page_menu #navigation_table td{
    height: 100%;
}*/

#main_page_menu #navigation_table td{ /* Определение стиля для ячеек таблицы */
    width: 20%;
    height: 100%;
    text-align: center;
    transition: 0.5s; /* Время длительности анимации (перехода из одного состояния в другое) */
    padding: 0 0 0 0;
}

#main_page_menu #navigation_table td a{ /* Содержимое ячейки - ссылка для перехода на другую страницу*/
    display: block;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#main_page_menu #navigation_table td:hover, #main_page_menu #navigation_table .active{
    background-color: #b00600;
}

#main_page_menu #navigation_table a{ /*Для всех тегов a в navigation_table*/
    text-decoration: none;  /* Отключены любые элементы оформления текста (подчёркивание) */
    color: inherit; /* inherit - параметр наследуется от родительского класса */
}

#main_page_menu .user_info table{ /* Таблица управления учётной записью (выход + информация) */
    width: 100%;
    text-align: right; /* Текст привязан к правому краю */
}

#main_page_menu .user_info td{
    padding-right: 5%;
    cursor: pointer;
}

#user_fio_cart{ /* Всплывающая карточка с информацией о человеке */
    background-color: rgba(176,6,0,0.4);
    border-radius: 0px 0px 3px 3px;
    height: 0px;
    margin-top: 15px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 2px;
    position: absolute;
    right: -3px;
}


#balance_tables{ /* Блок, в котором лежит вся информация о балансе пользователя */
    margin: 0px auto 0px;

}

#balance_tables .diagrams{ /* Активный и пассивный баланс */
    margin: 70px auto 0;
    width: 50%;
    font-size: 1.1em; /* Размер шрифта */
}

#balance_tables .balances{ /* Таблица с информацией */
    margin: 50px auto 0;
    width: 40%;
}

.fixed_layout{
    table-layout: fixed; /* Фиксируем размер таблицы */
}

.w50{
    width: 50%;
    padding: 0 0 0 0;
}

.img_container { /* Контейнер для вставки изображения с обрезкой */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-reponsive { /* Класс обрезаемого изображения */
    /*object-fit: cover;*/
    /*display: block;*/
    height:100%;
    max-height:100%;
    width:auto;
    flex-shrink: 0;
    /*overflow: hidden;*/
}

#balance_tables .balances td:nth-child(1){ /* Для всех ячеек номер 1 из каждой строки */
    width: 50%;
}

#balance_tables .balances td:nth-child(2){
    width: 25%;
}

#balance_tables .balances td:nth-child(3){
    width: 25%;
    text-align: center;
}


/*
!!! История операций
##############################################################################################
##############################################################################################
##############################################################################################
##############################################################################################
*/


#payments_tables, #payments_tables2, #history_payments_tables{ /* Блок информации о переводах */
    margin: 0px auto 0px;
}

#payments_tables, #payments_tables2{ /* Блок информации о переводах */
    opacity: 0.0;
}

#table_of_payments{ /* Таблица информации о переводах */
    margin: 0px auto 0px;
    text-align: left;
    width: 70%;
}

#table_of_payments tr th{ /* th - заголовочные ячейки таблицы */
    padding-bottom: 30px;
}

#table_of_payments tr:nth-child(n+1) td:nth-child(n+2){ /* Для ячеек, начиная со второй, 
                                                из строк начиная с первой строки таблицы */
    text-align: left;
}


.head_table_of_content{ /* Строка фильтров */
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 3px;
}

/*#head_table_of_payments .dropdown_arrow:hower{
    margin-top: 2px;
}*/

#head_table_of_payments{ /* Строка фильтров */
    margin: 0 auto 0;
}

#head_table_of_payments .draw_table_button{ /* Кнопка "Построить" */
    /*background-color: rgba(176,6,0,0.4);*/
    background-color: rgba(0,0,220,0.35); 
    border-radius: 20px;
    border-width: 3px 3px 3px 3px;

    border-color: rgba(255,255,255,0.9);
    /*color: #000;*/
    color: rgba(255,255,255,0.7);
    cursor: pointer;
    text-align: center;
    width: 15%;
}

#head_table_of_payments_dropdown{ /* "Кнопка" для активации выпадающего меню */
    cursor: pointer;
}

/*#head_table_of_payments_dropdown{
    height: 30px;
    margin: 0 auto 0;
}

#head_table_of_payments_dropdown:hower{
    height: 150px;
}*/

#head_table_of_payments_dropdown_list{ /* Выпадающее меню - фильтр */
    background-color: rgba(176,6,0,0.4);
    border-radius: 3px;
    color: #000;
    display: inline-block; /* Отображение текста в одну линию */
    height: 0px; 
    overflow: hidden; 
    position: absolute; 
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    margin-left: -0px;
}


/*
!!! Перевод
##############################################################################################
##############################################################################################
##############################################################################################
##############################################################################################
*/



#payments_tables input, #payments_tables input[type='number'], #payments_tables textarea {
    /* При записи через запятую указываются объекты для каждого из которых применяются данные стили */ 
    border: 2px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    padding-left: 4px;
    padding-right: 4px;
    color: #666666;
    width: 300px;
}

#payments_tables textarea, #payments_tables2 textarea{ /* Блок для многострочного комментария */
    height: 60px;
    margin-right: 50px;
    padding-left: 7px;
    padding-right: 70px;
}

#payments_tables2 .send_button, #payments_tables2 .reset_button{
    border: 2px solid #ccc;
    border-radius: 26px;
    box-sizing: border-box; /* Для того, чтобы установить высоту ячейки больше, чем размер внутренних объектов */
    color: #666;
    cursor: pointer;
    display: inline-block; /* Запрет переноса на новую строку */
    margin-top: 25px; /* Отступ сверху */
    overflow: hidden;
    padding: 14px 20px;
    position: relative;
}

#payments_tables2 .send_button{
    margin-left: 45px;
}


/*
!!! Маркет
##############################################################################################
##############################################################################################
##############################################################################################
##############################################################################################
*/

#goods_tables{
    margin: 30px auto 0px; /* Автоматический отступ - чтобы выровнять по центру *.
    border-collapse: collapse; /* Склеивание границ ячеек в одну */
    width: 100%;
    display: inline-block;
}

/*#goods_tables table tr{
    text-align: center;  Расположение по горизонтали 
    vertical-align: center;  Расположение по вертикали 
}*/

#goods_tables div{
    width: 20%;
    /*height: 150px;*/
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    margin-bottom: 50px;
    display: inline-block;
    transition: all 0.6s;
    border-width: 0px;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(176,6,0,0.3);
    /*max-width: 200px;*/
}

#goods_tables img{
    overflow: hidden;
    position: relative; 
    width: 101%; 
    /*top: 4px; */
    margin-bottom: 10px;
    transform: scale(1);
    transition: all 0.6s;
    transform: scale(1);
}

#goods_tables div div{
    overflow: hidden;
    position: absolute;
    /*max-width: 95%;*/
    margin-top: 10px;
    margin-left: 0px;
    /*padding-right: 0px;*/
    text-align: center;
    max-height: 170px;
    z-index: 2;
    transform: scale(0);
    transition: all 0.6s;
    background-color: rgba(176,6,0,0.0); 
    font-size: 0.8em;
}

#goods_tables div:hover div{
    overflow: hidden;
    transform: scale(1);
    background-color: rgba(176,6,0,0.0); 
}

#goods_tables div:hover{
    background-color: rgba(255,255,255,0.7); 
}

#goods_tables div:hover img{
    opacity: 0.4;
    /*transform: scale(0);*/
}



/*
!!! Рейтинг
##############################################################################################
##############################################################################################
##############################################################################################
##############################################################################################
*/


#rating_tables{ /* Таблицы рейтинга (фильтр + люди) */
    margin: 0px auto 0px;
}

.table_of_rating{ /* Таблица с людьми в рейтинге */
    margin: 0 auto 0;
    text-align: center;
    width: 70%;  
}

.table_of_rating tr th{ /* Заголовок таблицы */
    padding-bottom: 30px;
}

.table_of_rating tr:nth-child(n+1) td:nth-child(n+2){
    text-align: left;
}

#table_of_rating_user{ /* Рейтинг текущего пользователя */
    margin-top: 50px;
    /*text-align: left;*/
}


/*#head_table_of_rating .dropdown_arrow:hower{
    margin-top: 2px;
}*/

#head_table_of_rating{ /* Фильтр */
    margin: 0 auto 0;
}

#head_table_of_rating .draw_table_button{
    background-color: rgba(176,6,0,0.4);
    text-align: center;
    color: #000;
    border-radius: 20px;
    width: 15%;
    cursor: pointer;
}

#head_table_of_rating_dropdown{
    cursor: pointer;
}

/*#head_table_of_rating_dropdown{
    height: 30px;
    margin: 0 auto 0;
}

#head_table_of_rating_dropdown:hower{
    height: 150px;
}*/

#head_table_of_rating_dropdown_list{
    position: absolute; 
    overflow: hidden; 
    height: 0px; 
    background-color: #b00600;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    display: inline-block;
}

#rating_tables input[type='text'], #rating_tables input[type='number'], #rating_tables textarea{
    border: 2px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 17px;
    padding-left: 4px;
    padding-right: 4px;
    color: #666666;
}

#rating_tables .send_button, #rating_tables .reset_button{
    border: 2px solid #ccc;
    border-radius: 26px;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 14px 20px;
}

.background_gray_square{ /* Более тёмный фоновый цвет в таблицах */
    background-color: rgba(200, 200, 200, 0.6);
    border-radius: 3px;
    padding-left: 15px;
}